/* Responsiveness for the Tech stacks section */
@media screen and (min-width: 768px) {
    .tech-stacks{
      grid-template-columns: repeat(5, auto);
      grid-template-rows: 1fr;
    }
}

/* Responsiveness for hero section */
@media screen and (min-width: 768px) {
    .hero-inner {
      width: 60%;
    }
}
  
@media screen and (min-width: 1024px) {
    .hero {
      padding: 50px 5%;
    }
  
    .hero-inner {
      width: 56%;
    }
}
  
@media screen and (min-width: 1220px) {
    .hero-inner {
      width: 57%;
    }
  
    .hero-inner button {
      width: 30%;
    }
    
    .hero h1 {
      width: 80%;
    }
    
    .hero p {
      margin-bottom: 1rem;
    }
}

/* Mobile responsiveness for the four card section */
@media screen and (min-width: 768px) {
    .four-card-section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 20px 40px;
    }
    .card {
      grid-gap: 20px;
      padding: 40px 20px;
      background: #ffffff;
    }
}
  
@media screen and (min-width: 920px) {
    .card {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      grid-gap: 30px;
      padding: 40px 20px;
    }
  
    .card h3 {
        font-size: 1.4rem;
    }
}
  
@media screen and (min-width: 1224px) {
    .four-card-section {
      grid-gap: 50px;
      padding: 40px 8%;
    }
    .card {
      padding: 60px 50px;
    }
}

@media(max-width: 770px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
}
  
@media(max-width: 580px) {
    .footer-col {
      width: 100%;
    }
}
  
@media screen and (min-width: 800px) {
    /* .hero {
      padding: 180px 10% 100px 10%;
    }
    
    .hero-inner {
      width: 60%;
    }
    .hero h1 {
      font-size: 3rem;
    }
    .wrapper{
      padding: 100px 10%;
    } */
    .helping-hands .wrapper{
      flex-direction: row;
      justify-content: space-between;
    }
    .helping-hands .wrapper>div{
      flex-basis: 48%;
      margin-bottom: 0;
    }
}
  
@media screen and (min-width: 920px) {
    nav {
      padding: 15px 30px 15px 30px;
    }
    .logoArea a {
      font-size: 2rem;
    }
    .navlinkArea a {
      font-size: 1rem;
    }
    .hamburgerArea {
      display: none;
    }
    .navlinkArea {
      display: grid;
      position: relative;
      top: auto;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: end;
      grid-gap: 20px;
    }
}
  
@media screen and (min-width: 1224px) {
    nav {
      padding: 15px 8% 15px 8%;
    }
}