*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

ul li {
  list-style: none;
}


.helping-hands h2{
  color: #e45050;
  font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 594px;
  height: 46px;
  margin-left: 100px;
  margin-top: 41px;
}
.paragraph1{
  color: black;
  line-height: 21px;
  font-size: 18px;
}

.button{
  margin-left: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
}
.button1{
  background-color:#e45050;
  border-color: white;
  margin-left: 100px;
}

.button2{
  color: blue;
  background-color: white;
  border-color: blue;
}

.content{
  display: flex;

}
.picture1{
  float: right;
}

.paragraph1{
  float: left;
  margin-left: 100px;
}

/* --------------------------------------------------- */

/* Styles for the navbar section */
nav {
  position: relative;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  padding: 10px 10px 10px 20px;
  background: transparent;
}

.logoArea a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0444c0;
  transition: 0.25s ease-in-out;
}

.hamburgerArea {
  width: 100%;
  display: grid;
  justify-content: end;
}

.navlinkArea {
  width: 100%;
  display: none;
  position: absolute;
  top: 70px;
  z-index: 1;
}

.showNavLinks {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-gap: 25px;
  padding: 30px 20px;
  background: #0444c0;
}

.navlinkArea a {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  transition: 0.25s ease-in-out;
}

.navBtn {
  padding: 10px 30px;
  background: #e45050;
  border-radius: 5px;
}

.sticky {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 11;
}

/* Hover effects for the navbar section */
.logoArea a:hover {
  color: rgb(4, 68, 192, 0.7);
}

.navlinkArea a:hover {
  color: #E45050;
}

.navBtn:hover {
  color: #fff!important;
  background: rgb(240, 101, 101);
}

/* Mobile responsiveness for the navbar section */

@media screen and (min-width: 920px) {
  nav {
    padding: 15px 30px 15px 30px;
  }
  .logoArea a {
    font-size: 2rem;
  }
  .navlinkArea a {
    font-size: 1rem;
  }
  .hamburgerArea {
    display: none;
  }
  .navlinkArea {
    display: grid;
    position: relative;
    top: auto;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: end;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1224px) {
  nav {
    padding: 15px 8% 15px 8%;
  }
}

/* --------------------------------------------------- */

/* hero-section */

.hero {
  height: 452px;
  /* left: -3px; */
  /* top: 148px; */
}

.hero h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  width: 649.1px;
  /* height: 168px; */
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #000000;
}

.hero p {

  width: 649.1px;
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

#btn1 {
  width: 199.72px;
  height: 66px;
  background: #0444C0;
  color: #fff;
}

#btn2 {
  width: 199.72px;
  height: 66px;
  background: #FFFFFF;
  color: #0444C0;
}

/* --------------------------------------------------- */

/* Styles for the four card section */
.four-card-section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px 0;
  margin-top: 30px;
  background: #fbfcff;
}

.card {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  padding: 20px;
  background: #ffffff;
}

.card h3 {
  font-weight: 700;
  color: #0444c0;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  line-height: 21px;
}

/* Mobile responsiveness for the four card section */

@media screen and (min-width: 768px) {
  .four-card-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px 40px;
  }
  .card {
    grid-gap: 20px;
    padding: 40px 20px;
    background: #ffffff;
  }
}

@media screen and (min-width: 920px) {
  .card {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-gap: 30px;
    padding: 40px 20px;
  }
}

.card h3 {
  font-size: 1.4rem;
}

@media screen and (min-width: 1224px) {
  .four-card-section {
    grid-gap: 50px;
    padding: 40px 8%;
  }
  .card {
    padding: 60px 50px;
  }
}

/* --------------------------------------------------- */

/* footer */

.container {
  max-width: auto;
  margin: auto;
  background-color: blue;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.footer {
  padding: 70px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  background: pink;
}

.footer-content h3 {
  font-size: 1.8rem;
  color: #000000;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 3rem;
  justify-content: center;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.button {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.btn-btn1 {
  padding: 10px;
  background-color: blue;
  color: #000000;
}

.btn-btn2 {
  padding: 10px;
  background-color: #ff0000;
  color: #000000;
}

.footer-col {
  width: 20%;
  padding: 0 15px;
}

.footer-col #Title {
  color: #ff0000;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-weight: 500;
}

.footer-col h4::before {
  content: '';
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transform: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 9px;
}

.footer-bottom {
  background: #000000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 15px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #ffffff;
}

/*responsive*/

@media(max-width: 770px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 580px) {
  .footer-col {
    width: 100%;
  }
}

/* Section bellow developer Hiring hand*/

.wrapper {
  display: flex;
  height: 477px;
  box-sizing: border-box;
  justify-self: center;
}

.LeftBox {
  background: #e6eefe;
}

#rightBox {
  flex-grow: 1fr;
  background: #fff7f7;
}

h3 {
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
}

/*Button*/

.btn {
  padding: 1em 1em;
  background: #e45050;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 2px;
  width: 195.65px;
  height: 66px;
  color: white;
}

#btn1 {
  background: #e45050;
  margin-left: 35%;
}

#btn2 {
  background: #0444c0;
  margin-left: 35%;
}

.loremP {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
