*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  font-weight: bold;
  padding: 1rem 2rem;
}

ul li {
  list-style: none;
}

/* --------------------------------------------------- */

/* Styles for the navbar section */

header{
  background-color: #FCC0C0;
}

nav {
  position: relative;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  padding: 10px 10px 10px 20px;
  background: transparent;
}

.logoArea a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0444c0;
  transition: 0.25s ease-in-out;
}

.hamburgerArea {
  width: 100%;
  display: grid;
  justify-content: end;
}

.navlinkArea {
  width: 100%;
  display: none;
  position: absolute;
  top: 70px;
  z-index: 1;
}

.showNavLinks {
  display: grid;
  /* grid-template-rows: repeat(5, auto); */
  grid-gap: 25px;
  padding: 30px 20px;
  background: #0444c0;
}

.navlinkArea a {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  transition: 0.25s ease-in-out;
}

.navBtn {
  padding: 10px 30px;
  background: #e45050;
  border-radius: 5px;
}

.sticky {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 11;
}

/* Hover effects for the navbar section */

.logoArea a:hover {
  color: rgb(4, 68, 192, 0.7);
}

.navlinkArea a:hover {
  color: #E45050;
}

.navBtn:hover {
  color: #fff!important;
  background: rgb(240, 101, 101);
}

/* Tech stacks section */
.tech-stacks .inner-wrapper{
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  justify-content: space-between;
  grid-row-gap: 1rem;

}

/* hero-section */

.hero {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* .hero-inner {
  width: 100%;
} */

.hero-inner{
  width: 90%;
  margin: auto;
}
.inner-wrapper{
  padding: 50px 5%;
}

.hero-inner button {
  display: inline-block;
  /* width: 45%; */
  /* max-width: 200px; */
  padding: 1rem 2rem;
  /* font-size: 1rem; */
  font-weight: 700;
}

.hero h1 {
  font-weight: 900;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.hero p {
  /* font-size: 1rem; */
  margin-bottom: 1rem;
}

.hero-inner .btn1 {
  background: #0444C0;
  color: #fff;
  margin-right: 1rem;
}

.hero-inner .btn2 {
  background: #FFFFFF;
  color: #0444C0;
}

/* Helping hands */
.wrapper{
  padding: 1rem;
}

.picture1{
  display: none;
}

.helping-hands .content {
  display: flex;
  flex-direction: column;
}

.helping-hands h2 {
  font-size: 1.5rem;
  color: #e45050;
  margin-bottom: 10px;
}

.helping-hands p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.helping-hands-btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.helping-hands .button {
  font-size: 1rem;
  color: white;
  padding: 1rem 0;
}

.helping-hands .button1 {
  background-color: #e45050;
  border-color: white;
}

.helping-hands .button2 {
  color: blue;
  background-color: white;
  border: 1px solid blue;
}

/* Section below developer helping hand section*/
.LeftBox, .rightBox{
  text-align: center;
  padding: 50px 5vw;
}
.lorem-ipsum .LeftBox {
  background: #e6eefe;
}

.lorem-ipsum .rightBox {
  background: #fff7f7;
}

.lorem-ipsum h3 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.lorem-ipsum p {
  font-size: 1rem;
  margin: 30px 0 20px 0;
}

.btn {
  width: 160px;
  padding: 1rem 0;
  background: #e45050;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

.btn1 {
  background: #e45050;
}

.btn2 {
  background: #0444c0;
}

/* Styles for the four card section */

.four-card-section ,.inner-wrapper{
  background: #fbfcff;
}

.card {
  margin-bottom:1rem;
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 10px;
}

.card h3 {
  font-weight: 700;
  color: #0444c0;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  line-height: 21px;
}


/* --------------------------------------------------- */

/* footer */

.container {
  padding: 1rem auto;
  background-color: blue;
}

footer .container .row{
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* grid-template-rows: repeat(3, auto); */
  grid-gap: 20px;
  padding: 2rem 1rem;
}

.foot-grid-one{
  grid-column: 1/3;
}

.call-to-action .footer-content{
  background: #fff7f7;
}

.footer-content h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.footer-content .button {
  text-align: center;
}

.button button{
  width: 80%;
  /* margin: auto; */
  font-size: 1rem;
  color: #fff;
}

.btn-btn1 {
  margin-bottom: 15px;
  background-color: blue;
}

.btn-btn2 {
  background-color: #ff0000;
}

.footer-col #Title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #ff0000;
}

.footer-col h4 {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
}

.footer-col ul li a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  color: #bbbbbb;
}

.footer-col ul li a:hover {
  color: #ffffff;
}

.footer-bottom {
  background: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 1rem;
  color: #ffffff;
}